@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Nunito+Sans:ital,wght@0,300;0,400;1,200&family=Roboto:ital,wght@1,300;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: steelblue;
    color:azure;
    font-family: 'Roboto', sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 5px;
}

.container h1 {
    text-align: left;
    margin-bottom: 30px;
}

.container a {
    text-decoration: none;
    color: lightblue
}